.grid {
    display: grid;
    gap: 20px;
    

    /*
    grid-template-columns: es para definir columnas;
    grid-template-columns: 150px 200px 400px; 
    grid-template-
    grid-template-rows: auto auto;
    
    */

    grid-template-columns: repeat(3, auto);

    height: 300px;
    align-content: center;
    justify-content: center;
}


.grid > div {
    text-align: center;
    border: 3px double var(--info);

}

.item1{
    grid-column: 1/4;
}









